extends layout
block links
    link(rel="stylesheet", href="css/font-awesome-gitapi.css")
block content
    div.col.s4.offset-2
        div.card.grey.lighten-4
            div.card-content
                div.card-title Why Log In?
                p Logging in to the Gradle Meta Packages Repository allows you to upload and manage your own MetaPackages
    div.center-align
        div.row
            a.waves-effect.waves-light.btn.center Sign in with GitHub
                i.icon-github
        div.row
            a.waves-effect.waves-light.btn.center Sign in with BitBucket
                i.icon-bitbucket
        div.row
            a.waves-effect.waves-light.btn.center Sign in with GitLab
                i.icon-gitlab