extends Layout.jade
block content
    div
        div.collection
            each metaDependency in dependencies
                a.collection-item(href="/package/#{metaDependency.identifier}"): div
                    #{metaDependency.identifier}
                    span
                        each version in metaDependency.versions
                            div.chip #{version.version}